@import "https://fonts.googleapis.com/css?family=Montserrat:200&display=swap";
//
$color_white: #FFF;
$color_black: #000;
$color_1: #AE9460;
$color_2: #6D6E70;

//
body {

  div {
    height: 100%;
  }

  .ha {
    height: auto;
  }
}
// General
